<header>
 <%= link_to logo, root_path %>
 <nav class="round">
  <ul>
   <li><%= link_to "Home", root_path  %></li>
   <% if signed_in? %>
   <li><%= link_to "Users", users_path %></li>
   <li><%= link_to "Profile", current_user %></li>
   <li><%= link_to "Settings", edit_user_path(current_user) %></li>

   <% end %>
   <li><%= link_to "Help", help_path  %></li>
   <% if signed_in? %>
   <li><%= link_to "Sign out", signout_path, :method => :delete%></li>
   <% else %>
   <li><%= link_to "Sign in", signin_path  %></li>
   <% end %>
  </ul>
 </nav>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16304301-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</header>
